{% extends "base.html"%}

{% block content %}
<h1>Add a Post!</h1>
<form action="/newpost" method="POST">
    <input type="hidden" name="id">
    <label>Title
        <input type="text" name="title" value="{{title}}">{{errtitle}}
    </label>
        <br>
        <br>
    <label>Body <br>
        <textarea name="post_body" cols="19" rows="10">{{body}}</textarea>{{errbody}}
    </label>
        <br>
        <br>
        <input class="btn" type="submit" value="Add Post">
</form>
{% endblock %}