/* * {
    border: 1px solid red;
} */

body {
    background-color: grey;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgray;
}

label {
    display: block;
    margin: 10px;
}

input {
    display: block;
}

form {
    border: 2px solid black;
    border-radius: 10px;
}

.post {
    background-color: lightgrey;
}

.btn {
    margin: 5px;
    float: right;
}